In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('./data/user_bad.csv')

In [3]:
data.head()
#테이블을 만드려면 숫자로 해야되서 이렇게 함

   userId  bad_health_id bad_health  score
0       0              0        leg      2
1       0              1       knee      1
2       1              2        arm      0
3       1              0        leg      1
4       2              0        leg      2

In [4]:
data = data.pivot_table('score', index = 'userId', columns = 'bad_health_id')
data.head()

bad_health_id    0    1    2
userId
0              2.0  1.0  NaN
1              1.0  NaN  0.0
2              2.0  1.0  NaN
3              2.0  NaN  0.0

In [23]:
data.shape

(4, 3)

In [24]:
uesr_bads = pd.read_csv('./data/user_bad.csv')
#users = pd.read_csv('./data/user.csv')
video = pd.read_csv('./data/health_video_old.csv')

In [25]:
users.rename(columns = {'id': 'userId'}, inplace = True)

In [26]:
bad_users = pd.merge(uesr_bads, users, on = 'userId')

In [27]:
print(bad_users.shape)
bad_users.head(1)

(6, 9)

   userId  bad_health_id bad_health  score    name gender  age  height  weight
0       1              2        arm      0  user01  Woman   25     160      60

In [28]:
data = bad_users.pivot_table('score', index = 'userId', columns = 'bad_health_id').fillna(0)
data.head()

bad_health_id    0    1    2
userId
1              1.0  0.0  0.0
2              2.0  1.0  0.0
3              2.0  0.0  0.0

In [29]:
data.shape

(3, 3)

In [17]:
data = data.transpose()
data.head(2)

userId           1    2    3
bad_health_id
0              1.0  2.0  2.0
1              0.0  1.0  0.0

In [30]:
bad_sim = cosine_similarity(data, data)
print(bad_sim.shape)

(3, 3)

In [32]:
bad_sim_df = pd.DataFrame(data = bad_sim, index = data.index, columns = data.index)

In [33]:
bad_sim_df.head(3)

userId         1         2         3
userId
1       1.000000  0.894427  1.000000
2       0.894427  1.000000  0.894427
3       1.000000  0.894427  1.000000

In [1]:
print("user1과 비슷한 사람")
bad_sim_df[1].sort_values(ascending=False)[1:10]

user1과 비슷한 사람

NameError: name 'bad_sim_df' is not defined

In [ ]:
# 너무 적게 평가한 유저 제거
rating_per_user_df = pd.DataFrame(rating_per_user)

# 평점 데이터 30개 이하일 경우 제거
filtered_rating_per_user_df = rating_per_user_df[rating_per_user_df.rating >= 30]
rating_users = filtered_rating_per_user_df.index.tolist()

In [ ]:
# 피벗테이블 만들기
rating_matrix = filtered_rating.pivot_table(index='user_id', columns='anime_id', values='rating')

# 결측치 제거
rating_matrix = rating_matrix.fillna(0)
rating_matrix.shape

In [ ]:
def similar_users(user_id, matrix, k=5):
    # 현재 유저에 대한 데이터프레임 만들기
    # matrix의 index = user_id -> 현재 1명 유저에 대한 평가 정보 찾기
    user = matrix[matrix.index == user_id]
    
    # matrix index 값이 user_id와 다른가?
    # 일치하지 않는 값들은 other_users
    other_users = matrix[matrix.index != user_id]
    
    # 대상 user, 다른 유저와의 cosine 유사도 계산 
    # list 변환
    similarities = cosine_similarity(user,other_users)[0].tolist()
    
    # 다른 사용자의 인덱스 목록 생성
    other_users_list = other_users.index.tolist()
    
    # 인덱스/유사도로 이뤄진 딕셔너리 생성
    # dict(zip()) -> {'other_users_list1': similarities, 'other_users_list2': similarities}
    user_similarity = dict(zip(other_users_list, similarities))
    
    # 딕셔너리 정렬
    # key=operator.itemgetter(1) -> 오름차순 정렬 -> reverse -> 내림차순
    user_similarity_sorted = sorted(user_similarity.items(), key=operator.itemgetter(1))
    user_similarity_sorted.reverse()
    
    # 가장 높은 유사도 k개 정렬하기
    top_users_similarities = user_similarity_sorted[:k]
    users = [i[0] for i in top_users_similarities]
    
    return users
    # 현재 유저에 대한 정보 찾기
    user = matrix[matrix.index == user_id]

In [ ]:
    # 대상 user, 다른 유저와의 cosine 유사도 계산 
    # list 변환
    similarities = cosine_similarity(user,other_users)[0].tolist()

In [ ]:
    # matrix index 값이 user_id와 다른가?
    other_users = matrix[matrix.index != user_id]

In [ ]:
    # 다른 사용자의 인덱스 목록 생성
    other_users_list = other_users.index.tolist()
    
    # 인덱스/유사도로 이뤄진 딕셔너리 생성
    # dict(zip()) -> {'other_users_list1': similarities, 'other_users_list2': similarities}
    user_similarity = dict(zip(other_users_list, similarities))

In [ ]:
    # 딕셔너리 정렬
    # key=operator.itemgetter(1) -> 오름차순 정렬 -> reverse -> 내림차순
    user_similarity_sorted = sorted(user_similarity.items(), key=operator.itemgetter(1))
    user_similarity_sorted.reverse()
    
    # 가장 높은 유사도 k개 정렬하기
    top_users_similarities = user_similarity_sorted[:k]
    users = [i[0] for i in top_users_similarities]