In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('./data/user_bad.csv')
#user = pd.read_csv('./data/user.csv')

In [3]:
data.head()
#테이블을 만드려면 숫자로 해야되서 이렇게 함

   userId  bad_health_id bad_health  score
0       0              0        leg      2
1       0              1       knee      1
2       1              2        arm      0
3       1              0        leg      1
4       2              0        leg      2

In [4]:
body_part_names = {
    "leg":0,
    "knee":1,
    "arm":2,
    "waist":3,
    "elbow":4
}

In [5]:
data = data.pivot_table('score', index = 'userId', columns = 'bad_health_id')
data.head()

bad_health_id    0    1    2
userId
0              2.0  1.0  NaN
1              1.0  NaN  0.0
2              2.0  1.0  NaN
3              2.0  NaN  0.0

In [6]:
data.shape

(4, 3)

In [45]:
uesr_bads = pd.read_csv('./data/user_bad.csv')
users = pd.read_csv('./data/user.csv')
video = pd.read_csv('./data/health_video.csv')

In [41]:
#users.rename(columns = {'id': 'userId'}, inplace = True)

In [8]:
bad_users = pd.merge(uesr_bads, users, on = 'userId')

In [9]:
print(bad_users.shape)
bad_users.head

(6, 9)

<bound method NDFrame.head of    userId  bad_health_id bad_health  score    name gender  age  height  weight
0       1              2        arm      0  user01  Woman   25     160      60
1       1              0        leg      1  user01  Woman   25     160      60
2       2              0        leg      2  user02    Man   25     180      80
3       2              1       knee      1  user02    Man   25     180      80
4       3              0        leg      2  user03    Man   20     170      70
5       3              2        arm      0  user03    Man   20     170      70>

In [10]:
data = bad_users.pivot_table('score', index = 'userId', columns = 'bad_health_id').fillna(0)
data.head()

bad_health_id    0    1    2
userId
1              1.0  0.0  0.0
2              2.0  1.0  0.0
3              2.0  0.0  0.0

In [11]:
#data = data.transpose()
#data.head(2)

In [12]:
bad_sim = cosine_similarity(data, data)
print(bad_sim.shape)

(3, 3)

In [13]:
bad_sim_df = pd.DataFrame(data = bad_sim, index = data.index, columns = data.index)

In [14]:
bad_sim_df.head(3)

userId         1         2         3
userId
1       1.000000  0.894427  1.000000
2       0.894427  1.000000  0.894427
3       1.000000  0.894427  1.000000

In [30]:
print("user1과 비슷한 사람") #여기가 입력이 되어야함
sim_user = bad_sim_df[1].sort_values(ascending=False)[1:2].index[0]

user1과 비슷한 사람

In [46]:
video.head()

   videoId mainBody           title
0        1      arm        backkick
1        2    waist       boomerang
2        3     knee     crosskneeup
3        4     knee  standingkneeup
4        5      leg     swing_waist

In [87]:
sim_user =3
bad_body ='leg'
targetUser = bad_users[bad_users['userId']==sim_user]

targetUser_bad = targetUser.loc[:,"bad_health_id"]
rec_body_parts = []
#print("bad:",targetUser_bad)
for key, value in body_part_names.items():
    for bad in targetUser_bad:
        if value == bad and key != bad_body: 
            rec_body_parts.append(key)
            
random_part = np.random.choice(rec_body_parts)

rec_video = video[video['mainBody'] == random_part]
random_index = np.random.randint(0, rec_video.shape[0])

    # 랜덤한 title 얻기
random_title = rec_video.iloc[random_index]['title']
print(random_title)

TFlystep