In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
ratings = pd.read_csv('./data/ratings.csv')
videos = pd.read_csv('./data/health_video.csv')

In [11]:
ratings.head()

   userId  videoId  rating   timestamp
0       1        1     3.0  1260759144
1       1        2     3.0  1260759144
2       1        3     3.0  1260759144
3       1        4     3.0  1260759144
4       2        1     3.0  1260759144

In [12]:
videos.head()

   videoId  category              title  difficulty
0        1       leg  초보자도 할 수 있는 다리 운동           0
1        2  shoulder            어깨 스트레칭           0
2        3       leg          고강도 다리 운동           2
3        4  shoulder          넓은 어깨 만들기           1
4        5     thigh      허벅지 하루만 따라하세요           2

In [16]:
video_ratings = pd.merge(ratings, videos, on='videoId')
#print(video_ratings)

In [17]:
video_ratings.head()

,userId,videoId,rating,timestamp,category,title,difficulty
0,1,1,3.0,1260759144,leg,초보자도 할 수 있는 다리 운동,0
1,2,1,3.0,1260759144,leg,초보자도 할 수 있는 다리 운동,0
2,1,2,3.0,1260759144,shoulder,어깨 스트레칭,0
3,2,2,3.0,1260759144,shoulder,어깨 스트레칭,0
4,2,2,3.0,1260759144,shoulder,어깨 스트레칭,0

In [19]:
title_user = video_ratings.pivot_table('rating', index='userId', columns='title')
title_user.fillna(0, inplace=True)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

# 유저와 유저 간의 유사도
user_based_collab = cosine_similarity(title_user, title_user)
user_based_collab = pd.DataFrame(user_based_collab, index=title_user.index, columns=title_user.index)

print(user_based_collab[1].sort_values(ascending=False)[:10])

userId
1    1.000000
2    0.894427
Name: 1, dtype: float64

In [21]:
# 가장 유사한 유저를 뽑아서 해당 유저가 본 영화 추천
user = user_based_collab[1].sort_values(ascending=False)[:10].index[1]
print(title_user.loc[user].sort_values(ascending=False))

title
고강도 다리 운동            3.0
넓은 어깨 만들기            3.0
어깨 스트레칭              3.0
초보자도 할 수 있는 다리 운동    3.0
허벅지 하루만 따라하세요        3.0
Name: 2, dtype: float64